body {
    color: white;
    font-family: Arial, sans-serif;
}

h2, h3, h4, h5, p {
    margin-bottom: 15px;
}

.card {
    margin-bottom: 20px;
}

.card img {
    border-bottom: 5px solid white;
}

.text-dark {
    color: #333 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.rounded-circle {
    border-radius: 50% !important;
}
